body {
    display: flex;
    margin: 0px;
    background-image: url(backGround.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* All Boxes (div) */

.homePageBoxes {
    text-align: center;
    background-color: antiquewhite;
    width: 900px;
    position: relative;
    border-radius: 20px;
    opacity: 0.7;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: max-content;
    transition: width 0.5s, opacity 0.5s ease-in-out;
}

#navBox {
    margin-bottom: 20px;
    background-color: rgb(252, 207, 149);
    display: flex;
    flex-direction: row;
    height: max-content;
    width: max-content;
    opacity: 1;
    border-radius: 20px;
}

#lifeBox {
    background-color: rgb(252, 207, 149);
    border-radius: 20px;
    padding-left: 20px;
}

#theWorldOfTeaBox {
    text-align: left;
}

#quizDefBox {
    height: max-content;
    margin-top: 20px;
}

.TeaPageBoxes {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    position: relative;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 300;
    transition: width 0.5s, opacity 0.5s ease-in-out;
}

.TeaBox {
    text-align: center;
    background-color: antiquewhite;
    transition: background-color 0.5s ease;
    position: relative;
    border-radius: 20px;
    opacity: 0.9;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    transition: width 0.5s, opacity 0.5s ease-in-out;
    width: 380px;
    height: 600px;
    margin: 10px;

}

.screenBox {
    width: 900px;
    height: 500px;
    top: 20%;
    background-color: rgb(159, 171, 175);
    position: absolute;
    opacity: 1;
}

.notification {
    display: none;
    background-color: #5cb85c;
    color: #fff;
    padding: 10px;
    z-index: 999;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    transition: right 0.5s;
}

.creditOptionsBtn {
    width: 100px;
    height: 30px;
}

#billingBox {
    text-align: left;
    align-items: center;
    width: 600px;
}

#costBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/**/
.screenBox img {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

.navLink {
    margin-right: 90px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: x-large;
    transition: margin 0.5s ease;
}

.lifeImage {
    width: 20px;
    height: 20px;
}

#lifeText {
    font-size: x-large;
    margin-bottom: 0;
}

.theWorldOfTea {
    font-size: x-large;
}

#quizTaker {
    padding-top: 40px;
}

.defaultButton {
    padding: 10px;
    cursor: pointer;
}

#catalogueButton {
    padding: 3px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

#takeTheQuiz {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

#teaFact {
    font-size: larger;
}

#hardQuizBtn {
    margin-bottom: 60px;
    cursor: pointer;
}

#quizdefImage {
    height: 200px;
    width: 200px;
}

.answerBtn {
    background-color: white;
    margin: 5px;
    height: 100px;
    width: 150px;
    /* Really Werid Bug, dk how to fix :( */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    animation-duration: 1s;
}

#timer {
    font-size: larger;
}

.TeaImages {
    height: 200px;
}

.addCartButton {
    position: absolute;
    width: 350px;
    height: 100px;
    font-size: 40px;
    bottom: 30px;
    left: 40px;
}

.darkBtn {
    cursor: pointer;
}

#billingBox label {
    display: inline-block;
    text-align: left;
    min-width: 100px;
    margin-bottom: 10px;
}

#summaryTable {
    margin-top: 40px;
    width: 200px;
    text-align: left;
}

#creditSelector {
    text-align: center;
}

#orderButton {
    width: 200px;
    border-radius: 10px;
}

td {
    font-size: large;
    padding: 5px;
}

/* All Speical Effects */

.homePageBoxes:hover,
.TeaBox:hover {
    opacity: 1;
}

#darkModeButton:hover {
    opacity: 1;
    right: 10px;
}

.navLink:link {
    color: green
}

@keyframes flash {
    0% {
        background-color: inherit;
    }

    50% {
        background-color: rgb(255, 17, 0);
    }

    100% {
        background-color: inherit;
    }
}

.answerBtn.clicked {
    animation-name: flash;
}

/* All Dark versions */

#darkModeButton { 
    /* Except this one */
    position: fixed;
    bottom: 20px;
    padding: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 20px;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

#darkModeButton label,
#darkModeButton input {
    pointer-events: none;
}

.homePageBoxes.dark,
#navBox.dark,
#lifeBox.dark,
.TeaBox.dark,
#darkModeButton.dark {
    background-color: #222;
    color: #fff;
}

.answerBtn.dark,
.darkBtn.dark {
    background-color: #bdbdbd;
}

.darkText.dark {
    color: #bdbdbd;
}

/* Media Interactly */

@media(max-width: 1000px) {

    .navLink {
        margin-left: 55px;
        margin-right: 55px;
    }

    .homePageBoxes {
        opacity: 1;
        width: 700px;
    }
}

@media(max-width: 800px) {

    .navLink {
        margin-left: 30px;
        margin-right: 30px;
    }

    .homePageBoxes {
        opacity: 1;
        width: 500px;
    }

    #billingBox {
        width: 500px;
    }

    #darkModeButton {
        right: -160px;
    }

    #modeLabel::before {
        content: '<<< ';
    }
}

@media(max-width: 600px) {

    .navLink {
        margin-left: 17px;
        margin-right: 17px;
    }

    .homePageBoxes {
        opacity: 1;
        width: 400px;
    }
}

footer{
    color: white; 
}

    #billingBox {
        width: 400px;
    }

    #darkModeButton {
        right: -160px;
    }

    #modeLabel::before {
        content: '<<< ';
    }
